<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>banner</title>
</head>
<body>
<div class = container-menu id="top">
    <div class="nav-wrapper">
        <div class="left-side">
            <div class="menu-button">
                <button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars"></i></button>
                <form action="/banner" method="post">
                    <div id="myDropdown" class="dropdown-content">
                        <select name="categorieMenu">
                            <option value="">Tout</option>
                            <option value="Ordinateur">Ordinateur</option>
                            <option value="Accessoire_électronique">Accessoire electronique</option>
                            <option value="jeu_vidéo">jeu vidéo</option>
                            <option value="livre">livre</option>
                            <option value="vêtement">vêtement</option>
                            <option value="Autres">Autres</option>
                        </select>
                    </div>
                    <div class="search-bar">
                        <input type="text" name ="recherche" placeholder="rechercher un produit" style="width:400px;height:40px;">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>

                </form>
            </div>
            <div class="nav-link-wrapper">
                <a href="/">Menu</a>
            </div>
            <div class="nav-link-wrapper">
                <% if (username !== undefined) {%>
                    <a href="/Portefeuille">Portefeuille</a>
                <% } else { %>
                    <a href="/login">Portefeuille</a>
                <% } %>

            </div>
            <div class="nav-link-wrapper">
                <a href="/login">Se connecter</a>
            </div>
            <div class="nav-link-wrapper">
                <% if (username !== undefined) {%>
                    <a href="/Commandes">Historique</a>
                <% } else { %>
                    <a href="/login">Historique</a>
                <% } %>
            </div>
            <div class="nav-link-wrapper">
                <% if (username !== undefined) {%>
                    <a href="/add_product">Ajouter un produit</a>
                <% } else { %>
                    <a href="/login">Ajouter un produit</a>
                <% } %>

            </div>
        </div>
        <div class="right-side">
            <% if (username !== undefined) {%>
                <div class="connected">
                    <a href="/settingProfils"><%= username %></a>
                </div>
            <% } else { %>
                <div class="not_connected">Pas connecté</div>
            <% } %>
        </div>
    </div>
</div>
</body>
<script>

    /*https://www.w3schools.com/howto/howto_js_dropdown.asp*/
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("menu-button");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

</script>
</html>