<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>banner</title>
</head>
<body>
    <div class = container-menu id="top">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="menu-button">
                    <button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars"></i></button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="/Ordinateurs_et_accesoires">Ordinateurs et accesoires</a>
                        <a href="/Jeux_video">Jeux video</a>
                        <a href="/Jeux_educatifs">Jeux éducatifs</a>
                        <a href="/Vetement">Vetement</a>
                        <a href="/Livres">Livres</a>
                        <a href="/Gadget_electronique">Gadget électronique</a>
                    </div>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="Search.." style="width:600px;height:40px;">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="nav-link-wrapper">
                    <a href="/">Menu</a>
                </div>
                <div class="nav-link-wrapper">
                    <% if (username !== undefined) {%>
                        <a href="/Portefeuille">Portefeuille</a>
                    <% } else { %>
                            <a href="/login">Portefeuille</a>
                    <% } %>

                </div>
                <div class="nav-link-wrapper">
                    <a href="/login">Se connecter</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="/Historique_achat">Historique</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="/add_product">Ajouter un produit</a>
                </div>
                <div class="nav-link-wrapper">
                    <% if (username !== undefined) {%>
                        <div>

                            <a href="/settingProfils"><%= username %></a>
                        </div>
                    <% } else { %>
                        <div>Pas connecté</div>
                    <% } %>
                </div>


            </div>

            <div class="right-side">
                <div class="shopping-cart">
                    <a href="/Panier">
                        <img src="shopping-cart.png" style="width:40px;height:30px;">
                    </a>
                    <div>
                        <b><p>0</p></b>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>