<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../<%=color%>">
    <title>Login</title>
</head>
<body>

    <%-include("banner.ejs", {}) %>
    <div class="content-login">
        <div class="login-container">
            <%if (error2 !== ""){ %>
                <h3>
                  <span id="error">
                    <div class="mes-err">
                      <%= error2 %>
                    </div>
                  </span>
                </h3>
            <%}%>
            <form method="post" action="/login">
                <b><p>Pseudo :</p></b>
                <input type="text" id="username" name="username" placeholder="Pseudo" required><br>
                <b><p>Mot de passe :</p></b>
                <input type="password" id="password" name="password" placeholder="Mot de passe" required>
                <br>
                <br>
                <a href="/portefeuille">
                    <input type="submit" value="connexion"><br><br>
                </a>
            </form>
            <div class="register-from-login">
                <p>Nouveau sur notre site?</p>
            </div>
            <div class="register-button">
                <a href="/register">
                    <input type="submit" value="Créer compte" width="400px" height="10px">
                </a>
            </div>
        </div>

    </div>
</body>
</html>