<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%console.log(color)%>
    <%console.log("wazaaaaaaaaaaaaaaaaaaaaaaa")%>
    <link rel="stylesheet" type="text/css" href="../<%=color%>">
    <title>Home</title>
</head>
<body>
    <%-include("banner.ejs", {}) %>
    <br>
    <div class="content-menu">
        <div class="content-ordi-accesoire">
            <%-include("product.ejs", {}) %>
        </div>
    </div>

    <div class="buttom-container">
        <div class="top-button">
            <a href="#top">Retour en haut</a>
        </div>
    </div>

</body>

<script>
    let slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "block";
        setTimeout(showSlides, 5000);
    }
    /*https://www.w3schools.com/howto/howto_js_dropdown.asp*/
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("menu-button");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

</html>