<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Home</title>
</head>
<body>
    <%-include("banner.ejs", {}) %>
    <br>
    <div class="content-ordi-accesoire">
            <%-include("product.ejs", {}) %>
    </div>
    <div class="buttom-container">
        <div class="top-button">
            <a href="#top">Retour en haut</a>
        </div>
    </div>
</body>
</html>