body{
    background-color: lightgrey;
    margin: 0;
    min-width:300px;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


@media screen and (max-width: 300px) {
    body {font-size: 11px}
}




/*Menu*/

.container-menu {
    background-color: white;
    top: 0;
    position: relative;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.container-menu .nav-wrapper .right-side .connected{
    font-size: 25px;
    position: absolute;
    top: 20%;
    margin-bottom: 10px;
    left: 92%;
}

.container-menu .nav-wrapper .right-side a {
    text-decoration: none;
    color: black;
}
.container-menu .nav-wrapper .right-side .not_connected {
    font-size: 20px;
    position: absolute;
    top: 25%;
    margin-bottom: 10px;
    left: 90%;
}

.left-side{
    display: flex;
}

.left-side .dropbtn{
    float: left;
}

.left-side form{
    float: right;
}

.nav-wrapper .left-side div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    margin-top: 15px;
}


.menu-button button{
    background-color: transparent;
    border: none;
}

.nav-link-wrapper a{
    color: black;
    text-decoration: none;
    transition:  color 0.5s;
}

.nav-link-wrapper p{
    color: black;
    margin-top: 0px;
    margin-left: 70px;
}

.nav-link-wrapper input{
    color: black;
    text-decoration: none;
    transition:  color 0.5s;
    margin-top: 0px;
}

.search-bar{
    float: right;
}

.search-bar button{
    padding: 13px 20px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}


.nav-link-wrapper a:hover{
    color: grey;
}



.menu-button button {
    background-color: grey;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn{
    float: left;
}

.dropbtn:hover {
    background-color: black;
    color: white;
}

.dropdown {
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkgrey;
    min-width: 160px;
    margin-top: 3%;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}


.buttom-container .top-button{
    background-color: steelblue ;
    margin-top: 30%;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 700px;
    transition: transform .1s;
}

.buttom-container .top-button:hover{
    background-color: cornflowerblue;
    transition-duration: 1s;
    transform: scale(1.1);
}

.buttom-container .top-button a{
    color: white;
    text-decoration: none;
}





/* add_ptoduct*/

.content-login .login-container {
    margin-bottom: 10%;

}

.content-login .login-container .form-group{
    margin-bottom: 4%;
    margin-right: 5%;
}

.content-login .login-container h2{
    margin-left: 15%;
    margin-bottom: 20%;
}


.content-login .login-container select{
    margin-bottom: 4%;
    margin-left: 20%;
}

.content-login .login-container [type=submit]{
    width: 50%;
    background-color: cornflowerblue;
    color: white;
    padding: 7px 80px 7px 40px;
    margin-top: 5%;
    margin-left: 25%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.content-login .login-container .form-control{
    width: 95%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10%;
    margin-left: 10%;
}

.content-login .login-container label{
    margin-left: 50%;
    margin-bottom: 20%;
}





/*Ordinateur-et-accessoires*/

.info-title{
    font-weight: bold;
    font-size: 30px;
}

.content-ordi-accesoire{
    margin-top: 100px;
    z-index: 9;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-ordi-accesoire p{
    margin-left: 10px;
    text-align: center;
}

.content-ordi-accesoire .products {
    background-color: white;
    margin: 10px;
    padding-bottom: 12px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
}

.content-ordi-accesoire .products img {
    float: left;
    width: 320px;
    height: 300px;
    margin-top: 10px;
    margin-left: 10px;
}

.content-ordi-accesoire .products input {
    margin-bottom: 10px;
    width: 300px;
    height: 50px;
    margin-left: 20px;
    border-radius: 10px;
}

.content-ordi-accesoire .products input:hover {
    transition-duration: 1s;
    background-color: deepskyblue;
}

.content-ordi-accesoire .products .button1{
    background-color: dodgerblue;
    border-color: transparent;
}

.content-ordi-accesoire .products .button2 {
    background-color: cornflowerblue;
    border-color: transparent;
    margin-left: 10%;
}

.content-ordi-accesoire .Ordinateur-accesoire-position{
    display: grid;
    grid-template-columns: 1fr 1fr;
}






/*Login*/

.Body{
    background-color: white;
}

.content-login .login-container {
    position: absolute;
    background-color: white;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.mes-err{
    color: red;
    font-size: 60%;
}

.content-login .login-container [type=text]{
    width: 95%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.content-login .login-container [type=password]{
    width: 95%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.content-login .login-container a [type=submit]{
    width: 50%;
    background-color: cornflowerblue;
    color: white;
    padding: 7px 90px 7px 30px;
    margin-top: 5%;
    margin-left: 10%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.content-login .login-container [type=submit]:hover{
    background-color: steelblue;
}

.content-login .login-container p{
    text-align: center;
    margin-right: 10px;
}

.content-login .login-container a{
    text-decoration: none;
    margin-left: 30px;
}

.content-login .register-from-login{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.content-login .login-container .register-from-login p{
    text-align: center;
    margin-left: 15%;
}


.content-login .register-button [type=submit]{
    width: 20%;
    background-color: cornflowerblue;
    color: white;
    padding: 7px 17px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 40% 40px;
}

.content-login .register-button input:hover{
    background-color: steelblue;
}



/*Register*/

.content-register .register-container {
    position: absolute;
    background-color: white;
    margin: 5% 40% 50px;
    padding: 30px 0px 40px 20px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.content-register .register-container [type=text]{
    width: 95%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.content-register .register-container a [type=submit]{
    width: 80%;
    background-color: cornflowerblue;
    color: white;
    padding: 7px 10px;
    margin-left: 8%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.content-register .register-container [type=submit]:hover{
    background-color: steelblue;
}

.content-register .register-container p{
    text-align: center;
    margin-right: 10px;
}





/*Portefeuille*/


.content-payment .payment-container {
    position: absolute;
    background-color: white;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    padding: 30px 40px 40px 40px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.content-payment .payment-container [type=text]{
    width: 95%;
    padding: 12px 20px;
    margin-left: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.content-payment .payment-container a [type=submit]{
    width: 50%;
    background-color: cornflowerblue;
    color: white;
    padding: 7px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.content-payment .payment-container [type=submit]:hover{
    background-color: steelblue;
}

.content-payment .payment-container p{
    text-align: center;
    margin-right: 10px;
}

.content-payment .payment-container a{
    text-decoration: none;
    margin-left: 60px;
}





/*Commandes*/

.ajouter-un-produit{
    text-align: center;
    width: 50%;
    margin: 10% auto;
    opacity: 0.8;
    padding: 20px;
    border-radius: 5px;
    background: #ffffff linear-gradient(135deg, white, whitesmoke);
}

.ajouter-un-produit span{
    color: black;
}

.ajouter-un-produit .text{
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    resize: none;

}


.details{
    font-size: 1.2em;
}

.commandes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ajouter-un-produit input:hover {
    transition-duration: 1s;
    background-color: deepskyblue;
}

.ajouter-un-produit input{
    background-color: dodgerblue;
    border-color: transparent;
    border-radius: 10px;
    padding: 1% 3%;
}

.commandes .produit-acheter , .commandes .produit-vendu , .commandes .produit-en-vente{
    background-color: white;
    margin-right: 5%;
    margin-left: 5%;
}


